@model LibraryDomain.Model.Book

@{
    ViewData["Title"] = "Delete";
}

<h3>Ви впевнені, що хочете видалити це?</h3>
<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Автори
        </dt>
        <dd class="col-sm-10">
            <span>
                @string.Join(", ", Model.Authors.Select(a => a.Name + " " + a.Surname))
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            Є в бібліотеках
        </dt>
        <dd class="col-sm-10">
            <span>
                @if (Model.Libraries.Count != 0)
                {
                    @string.Join(", ", Model.Libraries.Select(l => l.Name))
                }
                else
                {
                    @("Немає в жодній бібліотеці")
                }
            </span>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до книг</a>
    </form>
</div>
